
 body{
    font: 18px/1.5 'Sarabun', sans-serif;  /*font-size/line-height font-family*/
    margin: 0;
    padding: 0;
    background-color: #DCE9BE;
}

 /*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
   margin: 0;
   padding: 0;
}

/*Header Styles*/
header{
    background-color: #2E2633;
    padding-top: 18px;
    min-height: 70px;
}

header h1{
    color: #DCE9BE;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.brandname{
    font-size: 20px;
}

header .brandname{
    float: left;
}

header .brandname h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 15px;
}

header li{
    float: left;
    list-style: none;
    padding: 0 20px 0 20px;
}

header a{
    color: #DCE9BE;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.active a{
   color: #99173C;
   font-weight: bold;
}

/*ShowCase*/
#showcase{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1540910419892-4a36d2c3266c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
    color: #DCE9BE;
    padding-top: 4%;
   }

#showcase h1{
   margin-top: 10%;
   font-size: 70px;
   margin-bottom: 10px;
   letter-spacing: 2px;
}

#showcase p{
   font-size: 40px;
   font-weight: bold;
}

.btn{
    height: 45px;
    background-color: #99173C;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 0 15px 0 15px;
    font-size: 20px;
    margin-left: 10px;
    outline: none;
  }

  /*Global*/
.btn-colored:hover{
    color: #DCE9BE;
    background-color: #2E2633;
  }
  
  /*Global*/
.btn-trans{
    background-color: transparent;
    border: 1px solid #DCE9BE;
  }

   /*Global*/
.btn-trans:hover{
    color: #DCE9BE;
    background-color: #2E2633;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0));
  }

  /*Global*/
.btn-trans a, .btn-colored a{
    text-decoration: none;
    color: #DCE9BE;
  }

/*---------------------------ABOUT PAGE---------------------------------*/

.page-strip{
    background-color: #99173C;
    height: 10%;
    box-shadow: 1px 1px 5px #2c3e50;
}

.page-strip p{
    margin: 0;
    color: #2E2633;
    text-align: center;
    padding: 0.7% 0 0.7% 0;
    font-size: 24px; 
    font-weight: bold;
}

#main-about, #main-signup, #main-signin{
    height: auto;
    text-align: center;
    margin: 25px 80px 25px 80px;
    border: 1px solid #2E2633;
    box-shadow: 0px 0px 5px #2c3e50;
    background-color: #2E2633;
    color: #DCE9BE;
   }

#main-about p, #main-signin p, #main-profile p{
    margin: 5% 10% 5% 10%;
    line-height: 2.0;
    letter-spacing: 2px;
}

footer{
   background-color: #2E2633;
   padding: 8px;
   color: #DCE9BE;
   text-align: center;
}

footer p{
   letter-spacing: 1.5px;
}

/*---------------------------SIGNUP PAGE---------------------------------*/


/*Global*/
form{
    padding: 80px 0 20px 0;
  }
 
   /*Global*/
 .form-field{
    display: block;
    margin: 25px 0 25px 0;   
  }
 
   /*Global*/
 .form-field input, .form-field select{
    min-width: 70%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
    font-family: Arial;
    margin-bottom: 15px;
  }
 
   /*Global*/
 .form-field textarea{
    min-width: 70%;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
    font-family: Arial
  }
 
   /*Global*/
 form input, form select{
    outline: none;
    border: 1px solid #2E2633;
 }
 
 form p{
    color: #DCE9BE;
 }
 
 form p{
    text-decoration: none;
    color: #DCE9BE;
 }
  
 form p:hover{
    color: #99173C;
    cursor: pointer;
  }
 
.btn-signup{
    margin: 10px 0 40px 0;
}

/*---------------------------SIGNIN PAGE---------------------------------*/

.btn-signin{
    margin: 5px 0 40px 0;
}

.modal, .modal-reset, .modal-petition{
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    padding-top: 4%;
  }

.modal p, .modal-reset p, .modal-petition p{
    text-transform: uppercase;
    font-size: 24px;
}

.forgotPassword-modal, .resetPassword-modal, .createPetition-modal{
    margin: 0 auto;
    width: 60%;
    background-color: #99173C;
    padding: 3% 0 5% 0;
    border-radius: 4px;
}

.forgotPassword input, .resetPassword input, .createPetition input{
    min-width: 50%;
}

.resetPassword{
    margin: auto;
}

.btn-cancel-modal{
    background-color: #2E2633;  
    color: #DCE9BE; 
}

.btn-submit-modal{
    background-color: #DCE9BE;
}

.btn-submit-modal a{
    color: #2E2633;
    text-decoration: none;
}

/*---------------------------USER PROFILE PAGE------------------------------*/
#main-profile{
    height: auto;
    text-align: center;
    margin: 25px 80px 25px 80px;
    color: #DCE9BE;
   }

.reset-password{
    cursor: pointer;
}

#main-profile{
    height: 58vh;
}

.flex-container{
    display: flex;
    height: 100%;
}
.card{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1540910419892-4a36d2c3266c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-position: center;
    background-color: #2E2633;
    height: 90%;
    width: 30%;
    margin: 20px 20px 20px 20px;
    border-radius: 3px;
    transition: transform 0.2s, opacity 0.2s;
}

.card:hover{
    transform: scale(1.10);
    opacity: 1;
}

.card .btn{
    margin: 40% auto;
}

/*---------------------------USER PARTIES---------------------------------*/
#view-party{
    text-align: center;
    height: 100vh;
    overflow: scroll;
    margin: auto;
}

.card-party{
    height: auto;
    margin: 25px 80px 25px 80px;
    border: 1px solid #DCE9BE;
    box-shadow: 0px 0px 5px #2c3e50;
    background-color: #DCE9BE;
    color: #2E2633;
    display: flex;
    font-weight: bold;
}

.party-main{
    flex: 3;
    border-right: 2px solid #DCE9BE;
    box-shadow: 5px 0px 5px #2E2633;
}

.party-main p{
    margin: 20px;
}

.party-logo{
    background-position: center;
    background-size: contain;
    flex: 1;
    box-shadow: 5px 0px 5px #2E2633;
}

.party-logo img{
    width: 90%;
    height: 110px;
    margin-top: 10px;
}

/*---------------------------VOTE---------------------------------*/
#vote-office{
    text-align: center;
    height: 100vh;
    overflow: scroll;
    margin: auto;
}

.office-main{
    flex: 2;
    border-right: 2px solid #DCE9BE;
    box-shadow: 5px 0px 5px #2E2633;
}

.office-main p{
    margin: 20px;
}

.office-vote{
    flex: 3;
    box-shadow: 5px 0px 5px #2E2633;
}

.office-vote button{
    margin-top: 30px;
}

.office-vote button:hover{
    cursor: pointer;
}

.modal-main-vote{
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    padding-top: 4%;
  }

.modal-main-vote p{
    text-transform: uppercase;
    font-size: 24px;
}

.vote-modal{
    width: 60%;
    overflow: auto;
    background-color: #99173C;
    padding: 3% 0 5% 0;
    border-radius: 4px;
}

.vote-modal form{
    margin-top: 0;
}

.vote-modal input{
    min-width: 50%;
}

.vote-modal{
    margin: auto;
}

.office-vote-flex{
    display: flex;
}

.candidate-party{
    flex: 2;
    text-align: left;
    padding-left: 30px;
}

.candidate{
    flex: 3;
    border-right: 2px solid #DCE9BE;
    box-shadow: 5px 0px 5px #2E2633;
    text-align: left;
    padding-left: 30px;
}


.radio-input{
    display: block;
}

.radio-input, .candidate-party-select{
    margin: 10px 0;
}

.submit-vote{
    height: 10%;
}

.submit-vote button{
    margin-top: 10px;
}

.submit-vote{
    margin-top: 20px;
}

/*---------------------------VIEW VOTES---------------------------------*/
.view-candidate, .view-candidate-party{
    text-align: center;
    padding-top: 30px;
}

.candidate-name{
    margin: 10px auto; 
}

/*---------------------------CANDIDATE---------------------------------*/
/*Sign in styles*/
.create-petition:hover{
    cursor: pointer;
}

/*---------------------------ADMIN PROFILE---------------------------------*/

#main-admin-profile{
    height: 58vh;
    text-align: center;
    margin: 25px 80px 25px 80px;
    color: #DCE9BE;
   }

#main-admin-profile .card .btn{
    margin-top: 51%;
}

/*---------------------------ADMIN CREATE PARTY---------------------------------*/
.nav-menu .admin-dropdown-ul{
    display: block;
}
/*---------------------------MEDIA QUERIES---------------------------------*/

@media(max-width:768px){
    .sticky {
        position: relative;
      }

    header{
        padding: 20px 0 20px 0;
        min-height: 30px;
    }

    .hamburger{
        width: 35px;
        height: 5px;
        background-color: #f5f6fa;
        margin: 6px 0;
        background-color: #DCE9BE;
      }

    .brandname{
          float: left
      }

    .menu-ham{
        margin-top: 10px;
        float: right;
        cursor: pointer;
      }

    header li{
        float: none;
        list-style: none;
        padding: 10px 5px 10px 10px;
        border-bottom: 1px solid #99173C;
        display: block;
    }

    .nav-menu{
        display: none;
        width: 100%;
        text-align: left;
        margin: 0;
    }

    .nav-menu.open{
        display: block;
    }

    #showcase{
        height: 90vh;
        padding-top: 20%;
       }

    #showcase h1{
        font-size: 45px;
        margin-bottom: 10px;
        letter-spacing: 2px;
     }
     
     #showcase p{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20%;
     }

     /*---------ABOUT PAGE-----------*/
     #main-about, #main-signup{
        text-align: center;
        margin: 10px 10px 10px 10px;
        border: 1px solid #2E2633;
        box-shadow: 0px 0px 5px #2c3e50;
       }
    
    #main-about p{
        margin: 5% 5% 5% 5%;
        line-height: 1.0;
        letter-spacing: 2px;
    }

    form{
        padding: 40px 0 20px 0;
      }

    .form-field input{
        min-width: 100%;
      }
     
       /*Global*/
    .form-field textarea{
        min-width: 100%;
      }

    /*---------SIGNIN PAGE-----------*/

    .forgotPassword-modal{
        margin-top: 30%;
        width: 80%;
    }

    .forgotPassword input{
        min-width: 50%;
    }

     /*---------PROFILE PAGE-----------*/

     .resetPassword-modal{
        margin-top: 30%;
        width: 80%;
    }

    .resetPassword input{
        min-width: 50%;
    }

    #main-profile{
        height: 110vh;
        text-align: center;
        margin: 25px;
        color: #DCE9BE;
    }

    .flex-container{
        height: 80%;
        display: block;
        margin-top: 20px;
    }
    .card{
        background-color: #2E2633;
        height: 38%;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 3px;
    }

    .card .btn{
        margin: 20% auto;
    }

    .card-party{
        margin: 25px;
    }

    .party-main{
        flex: 3;
    }
    
    .party-main p{
        margin: 20px 0 20px 20px;
    }
    
    .party-logo{
        flex: 2;
    }

    .party-logo img{
        height: 200px;
    }
    /*-------------------VOTE---------------------*/
    .office-vote button{
        padding: 0 10px;
        margin-top: 35px;
    }

    .candidate-party{
        padding-left: 10px;
    }
    
    .candidate{
        padding-left: 10px;
    }

/*-------------------VIEW VOTE---------------------*/
.view-candidate, .view-candidate-party{
    text-align: center;
    padding-top: 85px;
    }

    /*-------------------ADMIN PROFILE---------------------*/

    #main-admin-profile{
        height: auto;
        margin: 25px;
       }

    #main-admin-profile .card .btn{
        margin-top: 20%;
    }
    
}
